<div>
    <h1>Exemplo Navegação</h1>

    <a routerLink="telaA">Tela A</a>
    &nbsp;&nbsp;&nbsp;
    <a routerLink="telaB">Tela B</a>
</div>

<div style="margin-top: 20px">
    <router-outlet></router-outlet>
</div>